body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f3f3;
    align-items: center;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}
li{
    list-style-type: none;
}

ul{
    padding: 0;
}

a:hover{
    color: #adadad;
    transition: 0.3s;
}

h2{
    font-size: 30px;
}

header::after{
    content: "";
    display: block;
    border-bottom: 1px solid rgb(252, 252, 252);
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    gap: 200px;
    width: 1360px;
    background-color: #202020;
    padding: 50px 130px 50px 130px;
}

.container img{
    width: 400px;
    height: auto;
    border-radius: 5px;
}

.title-name{
    font-size: 55px;
}

.contacts-list{
    font-size: 18px;
}

.contact{
    display: flex;
    align-items: center;
}

.main p{
    font-size: 18px;
    margin: 18px 0 18px 0;
}

.main li{
    margin: 18px 0 18px 0;
    font-size: 18px;
}

.code-example{
    background-color: #444444;
    color: chocolate;
}

.code-example h2{
    background-color: #202020;
    color: white;
}

.container-footer{
    display: flex;
    gap: 410px;
    width: 1360px;
    background-color: #444444;
    padding: 50px 130px 50px 130px;
    color: black;
    font-size: 18px;
}

.school-logo{
    width: 200px;
    margin-bottom: 15px;
}

.container-footer p{
    align-content: center;
    font-size: 24px;
}
